{
margin:15px;
padding:15px;
}

body
{
  backgruond:orange;
  font-family: calibri, Verdana,'Book Antiqua';
}

#cuerpo
{
  background:#fffacd
    width: 1200px;
    margin: 4px auto;
    border: 3px white;
    color: orange;

#titulo
{
  background:#ffff00;
    width: 1200px;
    margin: 4px auto;
    border: 3px white;
    color: orange;
}

#resultado
{
    background: #ffff00;
    width: 1200px;
    margin: 4px auto;
    border: 3px white;
    color: orange;
}

#igual
{
    background: #fffacd;
    width: 1200px;
    margin: 4px auto;
    border: 3px white;
    color: orange;
}
